<!DOCTYPE html>
<html lang="zh-cn" class="hb-loaded">
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>菜单</title>
    <link rel="stylesheet" href="../addons/weihu_menpiao/static/sm.min.css">

</head>

<body>

<header class="bar bar-nav">
    <h1 class='title'>菜单</h1>
</header>

<div class="content">
    <div class="content-block">
        <p><a href="{php echo $this->createMobileUrl('index')}" class="button button-big button-round">个人信息</a></p>
        <p><a href="{php echo $this->createMobileUrl('membercard')}" class="button button-big button-round">购卡</a></p>
        <p><a href="{php echo $this->createMobileUrl('entitycard')}" class="button button-big button-round">激活实体卡</a></p>
        <p><a href="{php echo $this->createMobileUrl('guahao')}" class="button button-big button-round">挂号</a></p>
        <p><a href="{php echo $this->createMobileUrl('order')}" class="button button-big button-round">挂号记录</a></p>
        <p><a href="{php echo $this->createMobileUrl('index2')}" class="button button-big button-round">核销员中心</a></p>
    </div>
</div>

<script type='text/javascript' src='../addons/weihu_menpiao/static/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../addons/weihu_menpiao/static/sm.min.js' charset='utf-8'></script>
</body>

</html>